  <aside>
 <section id="projects">
   <div class="container">
     <div class="row">
       <div class="col-lg-12 text-center">
         <h2 class="section-heading">Legendary Robot Projects</h2>
         <hr class="primary"> </div>
     </div>
   </div>
   <div class="container">
     <div class="row">
       <div class="col-lg-3 col-md-6 text-center">
         <div class="service-box">
           <h2 class="section-heading"><a target="_blank" href="https://www.facebook.com/LEGOMindstormsWallE/?ref=bookmarks">
			  <img
       src="/img/wall-e.jpg"
       style="width: 166px; height: 166px;"
                 alt=""></a></h2>
                 
           <h3><a target="_blank" href="https://www.facebook.com/LEGOMindstormsWallE/?ref=bookmarks">WALL-E</a></h3>
           <p class="text-muted"> <span style="color: rgb(29, 33, 41); font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); display: inline !important; float: none;">Facebook
               page featuring his WALL-E from version 1 in 2008 <br>
               to version 7 in 2016.<br>
             </span><span style="color: rgb(29, 33, 41); font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); display: inline !important; float: none;"></span></p>
         </div>
       </div>
       <div class="col-lg-3 col-md-6 text-center">
         <div class="service-box"> <a target="_blank" href="https://www.facebook.com/LegoMindstormsR2D2/?ref=bookmarks"><img
           src="/img/r2d2.png"
               style="width: 165px; height: 165px;"
               alt=""></a>
           <h3><a target="_blank" href="https://www.facebook.com/LegoMindstormsR2D2/?ref=bookmarks">R2-EV3</a>
           </h3>
           <p class="text-muted"> <span style="color: rgb(29, 33, 41); font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); display: inline !important; float: none;">World's
               first 100% LEGO MINDSTORMS R2-D2 fully functional robot incl.
               2-3-2 leg config. Also the home of any other cool R2-D2
               Look-alike robots Powered by MINDSTORMS!</span></p>
         </div>
       </div>
       <div class="col-lg-3 col-md-6 text-center">
         <div class="service-box">
           <h3><a target="_blank" href="https://www.facebook.com/EV3Dprinter/?ref=bookmarks"><img
             src="/img/ev3d.jpg"
                 style="width: 159px; height: 159px;"
                 alt=""><br>
               <br>
               EV3Dprinter</a></h3>
           <p class="text-muted"> <span style="color: rgb(29, 33, 41); font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); display: inline !important; float: none;">This
               page is about 3D printers made using low cost 3D pens and LEGO
               Technic and MINDSTORMS elements.</span></p>
           <p class="text-muted"><span style="color: rgb(29, 33, 41); font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); display: inline !important; float: none;">Programmed
               in EV3 code with help of Thomas Madeya.<br>
             </span></p>
         </div>
       </div>
       <div class="col-lg-3 col-md-6 text-center">
         <div class="service-box">
           <h3><a target="_blank" href="https://www.facebook.com/Ev3lynBot/?ref=bookmarks"><img
             src="/img/Ev3lyn.jpg"
             style="width: 162px; height: 162px;"
                 alt=""></a></h3>
           <h3><a target="_blank" href="https://www.facebook.com/Ev3lynBot/?ref=bookmarks">EV3LYN</a></h3>
           <p class="text-muted"> <span style="color: rgb(29, 33, 41); font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); display: inline !important; float: none;">Meet
               EV3LYN your EV3 LEGO Friend with a growing personality.</span></p>
         </div>
       </div>
     </div>
   </div>
 </section>
 <section class="bg-dark" id="people">
   <div class="container glyphicon-lock">
     <div class="row">
       <div class="col-lg-8 col-lg-offset-2 text-center">
         <h2 class="section-heading"><i>"Playing with LEGO MINDSTORMS is fun
             but what's really cool is the friends I've made over the years"</i></h2>
         <hr class="light">
         <p class="text-faded"><a target="_blank" href="https://www.facebook.com/groups/legomindstorms/"><img
               style="width: 146px; height: 146px;"
               src="
               alt="Marc-Andre Bazergui"></a></p>
         <a target="_blank" href="https://www.facebook.com/groups/legomindstorms/">
         </a>
         <p class="text-faded"><a target="_blank" href="https://www.facebook.com/groups/legomindstorms/">Join
             the EV3 community on Facebook</a></p>
         <p class="text-faded"><br>
         </p>
         <p class="text-faded"> </p>
         <a href="#event" class="page-scroll btn btn-default btn-xl sr-button">Group
           photos taken at key events from 2009 to 2016</a> </div>
     </div>
   </div>
 </section>
  </aside>
