    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">Reach him on the following platforms</h2>
            <hr class="light"><br>
            <br>
            <br>
            <a target="_blank" title="Facebook " href="https://www.facebook.com/marc.a.bazergui">
				<img
                style="width: 95px; height: 95px;"
                src= /img/fb.png 
                alt=""></a>&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp; <a target="_blank" title="Instagram" href="https://www.instagram.com/bazmarc">
				<img
                style="width: 95px; height: 95px;"
                src= /img/insta.png
                alt=""></a>&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp; <a target="_blank" title="LinkedIn" href="https://ca.linkedin.com/in/marcandrebazergui">
				<img
                style="width: 95px; height: 95px;"
                src= /img/link.png
                alt=""></a>&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp; <a target="_blank" href="https://twitter.com/mbzrg">
				<img
                style="width: 95px; height: 95px;"
                src= /img/tweet.png
                alt=""></a>&nbsp;&nbsp;
            &nbsp; &nbsp;&nbsp; <a target="_blank" href="https://www.youtube.com/user/bazmarc">
				<img
                style="width: 95px; height: 95px;"
                src= /img/yt.png
                alt=""></a>
				
            <p class="text-faded"><br>
            </p>
            <p class="text-faded"><br>
            </p>
            <a target="_top" href="#projects" class="page-scroll btn btn-default btn-xl sr-button">Check
              out his creations!</a> </div>
        </div>
      </div>
    </section>