    <section class="bg-dark" id="contact">
      <h2 style="text-align: center;" class="section-heading"></h2>
      <hr style="margin-left: auto; margin-right: auto;">

      <p style="text-align: center;"><br>
        <a href="http://info.flagcounter.com/pYZJ"><img src="http://s07.flagcounter.com/map/pYZJ/size_m/txt_000000/border_CCCCCC/pageviews_1/viewers_Thank+you+for+visiting+bazmarc.ca/flags_0/"
            alt="Flag Counter"
            border="0"></a>
        
      </p>
      <hr class="primary">
      <p style="text-align: center;"><sup>LEGO® and MINDSTORMS® are trademarks
          of The LEGO Group of companies which does not sponsor, authorize or
          endorse this site.</sup></p>
    </section>