    <header>
      <div class="header-content">
        <div class="header-content-inner">
          <h1 id="homeHeading">[bazmarc]</h1>
          <br>
          <h2 class="section-heading"> Home of Marc-Andre Bazergui's LEGO®
            adventures </h2>
          <br>
          <p> Founder of the ROBOTMAK3RS Recognized LEGO® Online Community (RLOC) Formerly the MINDSTORMS Community Partner 
            Marc-Andre was also part of the LEGO MINDSTORMS Expert Panel who
            helped provide design input that led to the creation of the EV3
            retail set. Bazmarc, as he is known online, is famous for creating
            look-alikes of famous pop-culture robots such as R2-D2 and WALL-E. He has traveled the world with his robots and has participated in and helps organize robot experts zone in many LEGO related events such as WRO, FLL, MakerFaire and LEGO WORLD.
            Today he admin and moderator of all of the ROBOTMAK3RS Facebook groups, MINDSTORMS 51515, EV3, Spike Prime, WeDo, Boost and PoweredUP</p>
          <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out
            More</a> </div>
      </div>
    </header>