    <header>
      <div class="header-content">
        <div class="header-content-inner">
          <h1 id="homeHeading">[bazmarc]</h1>
          <br>
          <h2 class="section-heading"> Home of Marc-Andre Bazergui's LEGO®
            adventures </h2>
          <br>
          <p> LEGO® MINDSTORMS® Community Partner &amp; Ambassador of Fun,
            Marc-Andre is also part of the LEGO MINDSTORMS Expert Panel who
            helped provide design input that led to the creation of the EV3
            retail set. Bazmarc, as he is known online, is famous for creating
            look-alikes of famous pop-culture robots such as R2-D2 and WALL-E.
            He is also admin and moderator of the MINDSTORMS EV3 Facebook group
            with over 10,000 members.</p>
          <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out
            More</a> </div>
      </div>
    </header>