<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
          <div class="col-lg-4 col-sm-6"> <a href="img/portfolio/fullsize/1.jpg"
              class="portfolio-box">
              <img src="img/portfolio/thumbnails/1.jpg" class="img-responsive" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">FIRST World
                    Championship - When I became MCP</div>
                  <div class="project-name">2009 ATLANTA, USA</div>
                </div>
              </div>
            </a> </div>
          <div class="col-lg-4 col-sm-6"> <a href="img/portfolio/fullsize/2.jpg"
              class="portfolio-box">
              <img src="img/portfolio/thumbnails/2.jpg" class="img-responsive" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">At LEGO Systems A/S -
                    The LEGO MINDSTORMS Expert Panel</div>
                  <div class="project-name">2011 BILLUND, DK</div>
                </div>
              </div>
            </a> </div>
          <div class="col-lg-4 col-sm-6"> <a href="img/portfolio/fullsize/3.jpg"
              class="portfolio-box">
              <img src="img/portfolio/thumbnails/3.jpg" class="img-responsive" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded"> Group photo with
                    Kjeld Kirk Kristiansen </div>
                  <div class="project-name"> 2015 LEGOWORLD CPH </div>
                </div>
              </div>
            </a> </div>
          <div class="col-lg-4 col-sm-6"> <a href="img/portfolio/fullsize/4.jpg"
              class="portfolio-box">
              <img src="img/portfolio/thumbnails/4.jpg" class="img-responsive" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded"> QueLUG's xMas
                    meeting group photo </div>
                  <div class="project-name"> 2015 MONTREAL, QC </div>
                </div>
              </div>
            </a> </div>
          <div class="col-lg-4 col-sm-6"> <a href="img/portfolio/fullsize/5.jpg"
              class="portfolio-box">
              <img src="img/portfolio/thumbnails/5.jpg" class="img-responsive" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded"> WORLD MAKER FAIRE </div>
                  <div class="project-name"> 2015 New York, USA </div>
                </div>
              </div>
            </a> </div>
          <div class="col-lg-4 col-sm-6"> <a href="img/portfolio/fullsize/6.jpg"
              class="portfolio-box">
              <img src="img/portfolio/thumbnails/6.jpg" class="img-responsive" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded"> Robot Experts team
                    photo @WRO </div>
                  <div class="project-name"> 2015 QATAR </div>
                </div>
              </div>
            </a> </div>
          <div class="col-lg-4 col-sm-6"> <a href="img/portfolio/fullsize/7.jpg"
              class="portfolio-box">
              <img src="img/portfolio/thumbnails/7.jpg" class="img-responsive" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded"> Awesome group photo
                    with the LMS team </div>
                  <div class="project-name"> 2016 LEGOWORLD CPH </div>
                </div>
              </div>
            </a> </div>
          <div class="col-lg-4 col-sm-6"> <a href="img/portfolio/fullsize/8.jpg"
              class="portfolio-box">
              <img src="img/portfolio/thumbnails/8.jpg" class="img-responsive" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded"> With LEGO Education
                    at GESS </div>
                  <div class="project-name"> 2016 DUBAI, UAE </div>
                </div>
              </div>
            </a> </div>
          <div class="col-lg-4 col-sm-6"> <a href="img/portfolio/fullsize/9.jpg"
              class="portfolio-box">
              <img src="img/portfolio/thumbnails/9.jpg" class="img-responsive" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded"> FIRST Innovation
                    Faire </div>
                  <div class="project-name"> 2016 St-Louis, USA </div>
                </div>
              </div>
            </a> </div>
            <div class="col-lg-4 col-sm-6"> <a href="img/portfolio/fullsize/10.jpg"
                class="portfolio-box">
                <img src="img/portfolio/thumbnails/10.jpg" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                  <div class="portfolio-box-caption-content">
                    <div class="project-category text-faded">At LEGO Systems Enfield -
                      LAN Ambassador gathering</div>
                    <div class="project-name">2017 ENFIELD, USA</div>
                  </div>
                </div>
              </a> </div>
            <div class="col-lg-4 col-sm-6"> <a href="img/portfolio/fullsize/13.jpg"
                class="portfolio-box">
                <img src="img/portfolio/thumbnails/13.jpg" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                  <div class="portfolio-box-caption-content">
                    <div class="project-category text-faded">Robot Experts team
                    photo @WRO</div>
                    <div class="project-name">2014 JACKARTA</div>
                  </div>
                </div>
              </a> </div>
              <div class="col-lg-4 col-sm-6"> <a href="img/portfolio/fullsize/18.jpg"
                  class="portfolio-box">
                  <img src="img/portfolio/thumbnails/18.jpg" class="img-responsive" alt="">
                  <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                      <div class="project-category text-faded">Robot Experts team
                    photo @WRO</div>
                      <div class="project-name">2016 INDIA </div>
                    </div>
                  </div>
                </a> </div>
                <div class="col-lg-4 col-sm-6"> <a href="img/portfolio/fullsize/19.jpg"
                    class="portfolio-box">
                    <img src="img/portfolio/thumbnails/19.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">Robot Experts team
                      photo @WRO</div>
                        <div class="project-name">2017 COSTA RICA,  </div>
                      </div>
                    </div>
                  </a> </div>
				            
        </div>
    </div>
</section>
